<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon/B.ico">

    <title>Home Bill</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/jumbotron-narrow.css}">

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
</head>

<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">主页</a></li>
                <li role="presentation"><a href="#">关于我</a></li>
                <li role="presentation"><a href="#">联系我</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">命命记账</h3>
    </div>

    <div class="jumbotron">
        <h1>不想花钱</h1>
        <p class="lead">持续大半年都只有这一句</p>
        <!--        <p><a class="btn btn-lg btn-success" href="#" οnclick="addBill();" data-toggle="modal" role="button">记一笔</a></p>-->
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">记一笔</button>
    </div>

    <!-- Modal -->
    <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">增加流水</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="amount" class="control-label">金额:</label>
                            <input type="text" class="form-control" id="amount" placeholder="输入金额">
                        </div>

                        <input type="hidden" id="flow" value="O" name="flow"/>
                        <div class="btn-group form-group">
                            <label for="flowName" class="control-label">支出/收入/转账:</label>

                            <button type="button" class="btn btn-default dropdown-toggle form-control"
                                    data-toggle="dropdown" id="flowName">
                                <span id="buttonText">支出</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" onclick="shows($(this).text())">收入</a></li>
                                <li><a href="#" onclick="shows($(this).text())">转账</a></li>
                                <li><a href="#" onclick="shows($(this).text())">支出</a></li>
                            </ul>
                        </div>
                        <!--日期-->
                        <div class="form-group">
                            <label for="date" class="control-label">日期:</label>
                            <input type="date" class="form-control" id="date">
                        </div>
                        <!--转入账户-->
                        <input type="hidden" id="inAccount" value="" name="inAccount"/>
                        <div class="form-group" id="inAccountDev" hidden="hidden">
                            <label for="inAccountName" class="control-label">转入账户:</label>
                            <button type="button" class="btn btn-default dropdown-toggle form-control"
                                    data-toggle="dropdown" id="inAccountName">
                                <span id="defaultInAccountName" class="defaultAccountName"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" id="inAccountMenu"></ul>
                        </div>
                        <!--转出账户-->
                        <input type="hidden" id="outAccount" value="" name="outAccount"/>
                        <div class="form-group" id="outAccountDev">
                            <label for="outAccountName" class="control-label">转出账户:</label>
                            <button type="button" class="btn btn-default dropdown-toggle form-control"
                                    data-toggle="dropdown" id="outAccountName">
                                <span id="defaultOutAccountName" class="defaultAccountName"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu accountMenu" role="menu" id="outAccountMenu"></ul>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">添加</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>今日支出</h4>
            <p id="curAmount"></p>

            <h4>本月剩余</h4>
            <p id="monthSurplus"></p>

            <h4>剩余日均</h4>
            <p id="monthAve"></p>
        </div>

        <div class="col-lg-6">
            <h4>本月支出</h4>
            <p id="monthAmountCount"></p>

            <h4>本月预算</h4>
            <p id="bugget"></p>

            <h4>距结算日</h4>
            <p id="days"></p>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2020 Company, Inc.</p>
    </footer>

    <script th:inline="javascript">
        $(function () {
            updateDetail();
        });

        function shows(a) {
            $('#buttonText').text(a);
            $('#flow').attr('value', convert(a));
        }

        function convert(s) {
            if (s == '支出') {
                $('#outAccountDev').attr('hidden', false);
                $('#inAccountDev').attr('hidden', true);
                return "O";
            } else if (s == '收入') {
                $('#outAccountDev').attr('hidden', true);
                $('#inAccountDev').attr('hidden', false);
                return "I"
            } else if (s == '转账') {
                $('#outAccountDev').attr('hidden', false);
                $('#inAccountDev').attr('hidden', false);
                return "T";
            }
        }

        function updateDetail() {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: "/bill/queryDetail",
                data: "odinc",
                success: function (result) {
                    $("#curAmount").append(result.curAmount);
                    $("#monthSurplus").append(result.monthSurplus);
                    $("#monthAve").append(result.monthAve);

                    $("#monthAmountCount").append(result.monthAmountCount);
                    $("#bugget").append(result.bugget);
                    $("#days").append(result.days);
                }
            });
            var now = new Date();
            //格式化日，如果小于9，前面补0
            var day = ('0' + now.getDate()).slice(-2);
            //格式化月，如果小于9，前面补0
            var month = ('0' + (now.getMonth() + 1)).slice(-2);
            //拼装完整日期格式
            var today = now.getFullYear() + '-' + (month) + '-' + (day);
            document.getElementById('date').value = (today);
            //刷新账户
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: "/account/queryAccount",
                data: "odinc",
                success: function (result) {
                    $('.defaultAccountName').text(result[0].account);
                    $(".accountMenu").html("");
                    $.each(result, function (index, data) {
                        $("#inAccountMenu").append("<li><a href='#' onclick='showInAccounts($(this).text())'>" + data.account + "</a></li>");
                        $("#outAccountMenu").append("<li><a href='#' onclick='showOutAccounts($(this).text())'>" + data.account + "</a></li>");
                    })
                }
            });
        }

        function showInAccounts(account) {
            $('#defaultInAccountName').text(account);
            $('#inAccount').attr('value', account);
        }
        function showOutAccounts(account) {
            $('#defaultOutAccountName').text(account);
            $('#outAccount').attr('value', account);
        }


    </script>

</div>
</body>
</html>
